<style>
/*공통 카테고리*/
 h1 {
   margin-bottom: -10px;
   padding: 40px;
   font-size: 55px;
   text-align: center;
   color: black;
 }
 h2 {
   padding: 0px;
   font-size: 200px;
   text-align: center;
   color: black;
   margin: 0px;
 }
 li {
   padding: 20px;
   font-size: 22px;
   display: inline;
   float: right;
 }
 a {
   text-decoration: none;
   color: black;
 }
 a:hover {
   color:#E0471A;
   /*font-weight: bold;*/
 }

 /*공통 메인 돌아가기*/
 p.maintop {
   text-align: left;
   font-size: 22px;
   color: white;
   border: 10px solid black;
   border-top: 50px solid black;
   border-bottom: 20px solid black;
   margin-top: -27px;
   margin-left: 15px;
   margin-bottom: -20px;
   background-color: black;
   position: fixed;
 }
 p.maintop:hover {
   text-align: left;
   font-size: 22px;
   color: white;
   border: 10px solid #E0471A;
   border-top: 50px solid #E0471A;
   border-bottom: 20px solid #E0471A;
   margin-top: -27px;
   margin-bottom: -20px;
   background-color: #E0471A;
   position: fixed;
 }

 /*main*/
 p.kimdoyeon-is {
   text-align: center;
   font-size: 20px;
   line-height: 14px;
 }
 div class="main-img" {
   display: block;
   content: center;
 }
 div class="title" {
   margin-top: -20px;
 }

/*about*/
 div {
   margin: 0px;
   padding: 15px;
   font-size: 22px;
   text-align: center;
 }
 div class="logo" {
   display: block;
   clear: both;
   content: middle;
   margin-top: 300px;
   margin-bottom: 300px;
 }
 p.about {
   text-align: center;
   font-size: 22px;
   color: black;
   margin-top: 200px;
   margin-bottom: 100px;
 }
 p.contact {
   text-align: center;
   font-size: 22px;
   color: black;
   margin-top: 80px;
   margin-bottom: 70px;
 }

 /*design*/
 p.slogun {
   text-align: center;
   font-size: 22px;
   margin-bottom: 70px;
 }
 p.design-category {
   text-align: right;
   font-size: 22px;
   margin-right: 30px;
   margin-bottom: -10px;
 }

/*creador*/

/*studio37*/
p.studio-category {
  text-align: right;
  font-size: 22px;
  margin-right: 30px;
  margin-bottom: -10px;
}
 div class="studio-sample" {
   display: block;
   clear: both;
   content: middle;
   margin-top: 10px;
   margin-bottom: 10px;
 }

/*gallery*/
p.country-list {
  text-align: center;
  font-size: 22px;
  margin-top: 320px;
  margin-bottom: 240px;
}

footer {
  width: 100%;
  border-top: 1px solid black;
  margin-top: 10px;
  margin-bottom: 0px;
  position: static;
}
 </style>
